@charset "UTF-8";

body{ background: #232429;}
.upload_wrap{ width: 250px; margin: 30px auto; padding: 20px; }
.upload_wrap>header{ float: left; padding-bottom: 25px; width: 100%; color: #fff; }
.upload_wrap>header>a:hover, .upload_wrap>header>a:visited{ text-decoration: none; color: #fff;}
.upload_wrap>header h1{ font-size: 100%; }
.upload_wrap>article{ float:left; width: 230px; padding: 10px; border: 1px solid #989898; margin-bottom: 15px;}
.upload_wrap>article>header{ width: 100%; float: left; padding-bottom: 15px;}
.upload_wrap>article>header>h2{ font-size: 93.75%; color: #fff; }
.upload_wrap>footer{ float: left; font-size: 72.5%; width: 100%; color: #fff;}

.label{ font-size: 82.75%; width: 220px; float: left; margin: 5px 5px;}
.label_default{ color: #a3b9ff; }
.label_error{ color: #ffa3a3; }

.input{ width: 200px; font-size: 75%; padding : 5px; color: #000; float: left; margin: 5px 5px;}
.input_default{ border: 1px solid #e6ecff; background: #e6ecff; }
.input_error{ border: 1px solid #ffebea; background: #ffebea; }

.error{ color: #f63f36; font-size: 82.75%; float: left; width: 220px; margin: 5px 5px; }

.btn{ color: #fff; background: #019b99; padding: 5px 15px; margin: 5px 5px; cursor: pointer; font-size: 82.75%; border-radius: 3px; }